body {
  background-color: #686de0;
  align-items: center;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.container {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  width: 400px;
  padding: 50px 20px;
}
.h3 {
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 30px;
}
.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 40px 0px;
}
.jokebtn {
  background-color: #686de0;
  color: white;
  border-radius: 10px;
  padding: 14px 40px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s;
}
.jokebtn:hover {
  background-color: #5358d6;
}

@media (max-width: 480px) {
  /* for mobile phones */
  body {
    padding: 10px;
  }
  .container {
    max-width: 70%;
    width: 400px;
  }
  .h3 {
    font-size: 20px;
  }
  .joke {
    font-size: 1rem;
    margin: 30px 0;
  }
  .jokebtn {
    padding: 8px 20px;
    font-size: 0.8rem;
  }
}
